@charset "utf-8";
// 公共样式
span{
    color:#757575;
    font-size:12px;
}
// 按比例放大
a:hover .pic img{
    transform: scale(1.1);
}
// 栏目标题
.title{
    font-size: 28px;
    color:#3C3C3C;
    height:70px;
    line-height: 70px;
}
// 游戏，活动tag
.tag{
    color:#fff;
    height:20px;
    line-height: 20px;
    padding:0 10px;
    background: url(http://wegame.gtimg.com/g.55555-r.c4663/rail/images/tag-svg-bg-game.30862e2a.svg) no-repeat;
}
// 轮播图切换按钮
.prev{
    width:30px;
    height:68px;
    position: absolute;
    z-index: 10;
    top:calc(50% - 34px + 60px);
    left:-40px;
    background: rgba(0,0,0,.15);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.prev::after{
        position: absolute;
        content: "";
        width: 10px;
        height: 20px;
        display: block;
        top:calc(50% - 10px);
        left:10px;
        opacity: .8;
        background:url("../images/icon-left.png") no-repeat;
}
.next{
    width:30px;
    height:68px;
    position: absolute;
    z-index: 10;
    top:calc(50% - 34px + 60px);
    right:-40px;
    background: rgba(0,0,0,.15);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.next::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top:calc(50% - 10px);
    right:10px;
    opacity: .8;
    background:url("../images/icon-right.png") no-repeat;
}
// 详情缩略图detail
.detailSmall{
    width:224px;
    min-height: 255px;
    position: absolute;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 15;
    box-shadow: 5px 5px 5px rgba($color: #888888, $alpha: .5);
    display: none;
    .detail_banner{
        width:218px;
        height:124px;
        border:3px solid #fff;
        position: relative;
        img{
            width:218px;
            height:124px;
            position: absolute;
            display: none;
        }
    }
    .detail_text{
        padding:0 20px;
        text-align: left;
        div{
            padding:0 0 0 24px;
            color: #757575;
            font-size: 13px;
            line-height: 20px;
            position: relative;
            margin-bottom: 8px;
        }
        i{
            display: block;
            width:14px;
            height:14px;
            position: absolute;
            top:2px;
            left:0;
        }
        .gameTit{
            font-size: 18px;
            height:40px;
            line-height: 40px;
            font-weight: bolder;
            color: #3C3C3C;
        }
        .upTime{
            i{
                background: url(../images/showdetail_05.jpg);
            }
        }
        .gameEsti{
            i{
                background: url(../images/showdetail_05.jpg) 0 -27px;
            }
        }
        .gameTags{
            i{
                background: url(../images/showdetail_05.jpg) 0 -54px;
            }
        }
    }
}



body{
    background: url(../images/store-bg-20200722.jpg);
}

/* 轮播图banner */
.bannerWrap{
    width:1000px;
    height:390px;
    margin:0 auto 10px;
    position: relative;
    overflow: hidden;
}
/* .banner,.banner ul,.banner li, .banner a{
    width:1360px;
    height:450px;
    overflow: hidden;
}
.banner ul{
    position: relative;
}
.banner li{
    position: absolute;
    top:0;
    left:0;
}
.banner img{
    opacity:0;
} */
.banner_img{
    width:1400px;
    height:390px;
    margin-left:-200px;
    img{
        width:1400px;
        height:390px;
    }
}
.bannerWrap .banner_text{
    width:214px;
    height:390px;
    position: absolute;
    top:0;
    right: 0;
    background: rgba(15,15,35,.4);
    z-index: 8;
}
.banner_text_li{
    display: block;
    width:194px;
    height:38px;
    padding:15px 0 0 20px;
    color:#e0e0e0;
    font-size: 14px;
    .tit{
        display: inline-block;
        font-weight: 900;
        line-height: 20px;
        margin-left:5px;
    }
    .con{
        margin-top:7px;
        display: none;
    }
    .tag{
        display: none;
    }
}
.banner_text .active{
    height:60px;
    padding:12px 0 0 20px;
    .con{
        display: block;
    }
    .tag{
        display: inline-block;
    }
}
.banner_text .active_game{
    background-color: rgba(0,178,250,.4);
    .tit{
        color: #00B2FA;
    }
    .tag{
        background: url(http://wegame.gtimg.com/g.55555-r.c4663/rail/images/tag-svg-bg-game.30862e2a.svg) no-repeat;
    }
}
.banner_text .active_act{
    background-color: rgba(255,140,0,.4);
    .tit{
       color: #FF8C00; 
    }
    .tag{
        background: url(http://wegame.gtimg.com/g.55555-r.c4663/rail/images/tag-svg-bg-act.d900eef7.svg) no-repeat;
    }
}
// 热点预告foreshow
.foreshowWrap{
    width:1000px;
    margin:0 auto 20px;
    height:470px;
    position: relative;
    .foreshow{
        width:1000px;
        height:400px;
        .foreshow_list{
            height:400px;
            li{
                width:184px;
                height:400px;
                float: left;
                position: relative;
                &::before{
                    content: "";
                    width: 4px;
                    height: 4px;
                    background-color: #ffb300;
                    position: absolute;
                    left: 50%;
                    top: 53px;
                    border-radius: 50%;
                    z-index: 12;
                    border-right:6px solid #eee;
                    border-left:6px solid #eee;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 54px;
                    left: 0;
                    right: -20px;
                    border-top: 2px solid #ffb300;
                    z-index: 10;
                }
            }
            p{
                color:#3C3C3C;
                font-size: 15px;
                line-height: 20px;
                font-weight: bolder;
            }
            span{
                color:#757575;
                font-size: 13px;
                line-height: 20px;
                display: block;
            }
        }
    }
    .detail_wrap{
        .detail{
            top:145px;
        }
    }
}
.foreshow_list{
    .text{
        height:78px;
        text-align: center;
    }
    a{
        display: block;
        width:184px;
        height:322px;
        overflow: hidden;
        img{
            width:184px;
            height:242px;
            vertical-align: middle;
        }
        .brief{
            height:100px;
            background-color: #FFF;
            padding:20px 16px 0;
            position: relative;
            top:0px;
            .tag{
                position: absolute;
                top:-12px;
                left:15px;
            }
            .btn{
                width:184px;
                height:40px;
                border-top:1px solid #e4e4e4;
                position: absolute;
                bottom: 0;
                left:0;
                span{
                    width:92px;
                    height:40px;
                    line-height: 40px;
                    text-align: center;
                    float: left;
                    cursor: pointer;
                    &:hover{
                        color:#3c3c3c;
                        background-color: #f4f4f4;
                    }
                }
                &::after{
                    content: "";
                    width:1px;
                    height:40px;
                    background-color: #e4e4e4;
                    position: absolute;
                    top:0;
                    left:92px;
                }
            }
        }
        &:hover{
            .brief{
                height:100px;
                top:-40px;
                transition: .2s;
            }
        }
    }
    
}
// rank排行榜
.rankWrap{
    width:1000px;
    height:780px;
    margin:0 auto 20px;
    position: relative;
    .rank_tit{
        height:70px;
        .title{
            float: left;
        }
        .rank_nav{
            height:55px;
            margin-left:30px;
            padding-top:15px;
            float: left;
            li{
                float: left;
                height:40px;
                line-height: 40px;
                color:#3C3C3C;
                font-size: 16px;
                display: block;
                margin:0 14px;
                border-bottom: 4px solid rgba($color: #FFB300, $alpha: 0);
                cursor: pointer;
                transition: .5s;
                &.show{
                    font-weight: bolder;
                    border-bottom: 4px solid #FFB300;
                }
            }
        }
    }
    .rank{
        height:710px;
        overflow: hidden;
        .rank_list{
            height:710px;
            li{
                width:320px;
                height:710px;
                float: left;
                background:#fff;
                .tit{
                    height:25px;
                    padding:16px 16px 14px;
                    h4{
                        float: left;
                        color:#3c3c3c;
                        font-size: 18px;
                        line-height: 25px;
                        font-weight: bolder;
                    }
                    span{
                        height:24px;
                        width:24px;
                        float: left;
                        background: url("../images/icon-question-24.c966a1fd.png");
                        margin-left:10px;
                    }
                }
                .gameList{
                    .item{
                        display: block;
                        height:54px;
                        padding:20px 0;
                        transition: .3s;
                        &:hover{
                            background-color:#f4f4f4;
                        }
                        i{
                            float: left;
                            width:34px;
                            height:34px;
                            margin:10px 0;
                        }
                        div{
                            height:54px;
                            img{
                                height:54px;
                                width:92px;
                                float: left;
                            }
                            strong{
                                float: left;
                                margin-left:20px;
                                p{
                                    font-size: 15px;
                                    font-weight: bolder;
                                    line-height: 28px;
                                    color:#3C3C3C;
                                }
                                span{
                                    font-size: 14px;
                                    color:#787878;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// 测试专区BT
.BTWrap{
    width:1000px;
    height:530px;
    margin:0 auto 20px;
    .BT{
        height:460px;
        background:url("../images/tzone-bg-null.bd944fea.jpg"),no-repeat 50% 50%;
        position: relative;
        .tit{
            height:125px;
            padding:30px 40px 0;
            h3{
                font-size:36px;
                color:#FFF;
                line-height: 54px;
                font-weight: bolder;
            }
            p{
                font-size:13px;
                line-height: 20px;
                height:40px;
                width:380px;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                color:rgba($color: #FFF, $alpha: .6);
            }
            a{
                position: absolute;
                top:80px;
                right:50px;
                width:178px;
                height:40px;
                line-height: 40px;
                text-align: center;
                font-size:16px;
                color:#000;
                border-radius: 2px;
                font-weight: bold;
                background: transparent linear-gradient(280deg,#ffca28,#ffe082) 0 0 no-repeat padding-box;
            }
        }
        .con{
            height:300px;
            // 公共样式
            .txt{
                h5{
                    height:22px;
                    line-height: 22px;
                    font-weight: bold;
                    font-size: 15px;
                    color: #3c3c3c;
                    padding:6px 0 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p{
                    color:#757575;
                    font-size:13px;
                    line-height: 20px;
                }
            }
            .first{
                display: block;
                width:470px;
                height:285px;
                margin:0 20px;
                float: left;
                background-color: #fff;
                .pic{
                    overflow: hidden;
                    width:200px;
                    height:285px;
                    float: left;
                    img{
                        display: block;
                        width:200px;
                        height:285px;
                        transition: .2s;
                    }
                }
                .txt{
                    padding:11px 20px 0;
                    width:230px;
                    float: left;
                    overflow: hidden;
                    .letter{
                        height:100px;
                        margin:20px 0 30px;
                        background:#F4F4F4;
                        padding:12px 15px;
                        font-size: 13px;
                        color:#757575;
                        strong{
                            display: block;
                            height:72px;
                            overflow: hidden;
                            margin-bottom: 6px;
                        }
                        span{
                            height: 22px;
                            i{
                                height:22px;
                                width:100px;
                                float: left;
                                line-height: 22px;
                            }
                            i:last-of-type{
                                text-align: right;
                            }
                        }
                    }
                    .mark{
                        height:14px;
                        display: block;
                        text-align: center;
                        line-height: 14px;
                        border-radius: 7px;
                        background:#F4F4F4;
                        span{
                            color:#757575;
                            font-size:12px;
                        }
                    }
                }
            }
            .other{
                display: block;
                width:225px;
                height:284px;
                margin-right:20px;
                float: left;
                background-color: #fff;
                .pic{
                    height:126px;
                    overflow: hidden;
                    img{
                        width:225px;
                        height:126px;
                        transition: .3s;
                    }
                }
                .txt{
                    padding:11px 15px 0;
                    overflow: hidden;
                    div{
                        height:50px;
                        line-height: 50px;
                        text-align: center;
                        border-top: 1px solid #e4e4e4;
                        margin-top:20px;
                    }
                }
            }
        }
    }
}
// update最近更新
.updateWrap{
    margin:0 auto 20px;
    width:1000px;
    height:472px;
    position: relative;
    .update{
        width:1000px;
        height:419px;
        overflow:hidden;
        .updateList{
            width:8000px;
            height:402px;
            li{
                width:340px;
                height:402px;
                float: left;
                >a{
                    display: block;
                    width:320px;
                    height:402px;
                    background: #FFF;
                    margin-right:20px;
                    .pic{
                        width:320px;
                        height:180px;
                        overflow: hidden;
                        img{
                            width:320px;
                            height:180px;
                            transition: .3s;
                        }
                    }
                    .txt{
                        padding:16px 16px 0;
                        height:202px;
                        .tit{
                            height:42px;
                            margin-bottom: 15px;
                            img{
                                width:60px;
                                height:80px;
                                border:2px solid #fff;
                                margin:-40px 8px 0 0;
                                float: left;
                                z-index: 1;
                                position: relative;
                            }
                            .intro{
                                width:215px;
                                height:42px;
                                float: left;
                                a{
                                    color:#3c3c3c;
                                    font-size:14px;
                                    line-height: 20px;
                                    margin-bottom: 5px;
                                    display: block;
                                    span{
                                        color:#757575;
                                        float: right;
                                    }
                                }
                                span{
                                    display: block;
                                }
                            }
                        }
                        .con{
                            h6{
                                height:20px;
                                line-height: 20px;
                                font-weight: bold;
                                font-size: 16px;
                                color:#3c3c3c;
                                margin-bottom: 12px;
                            }
                            p{
                                height:64px;
                                overflow: hidden;
                                color:#757575;
                                font-size:14px;
                                margin-bottom: 10px;
                            }
                            .time{
                                height:42px;
                                line-height: 42px;
                                border-top:1px solid #e4e4e4;
                                color:#757575;
                                font-size:13px;
                                & i:last-child{
                                    float:right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// 推荐模块
.recommedWrap{
    width:1000px;
    height:480px;
    margin:0 auto 50px;
    .recommed{
        width:960px;
        height:375px;
        background:url("../images/oss_5f0ffe2ee643c_03.jpg") no-repeat;
        padding:35px 0 0 40px;
        h3{
            width:fit-content;
            font-size:36px;
            color:#FFF;
            line-height: 54px;
            font-weight: bolder;
            margin-bottom: 12px;
            cursor: pointer;
            transition: .3s;
            border-bottom:2px solid rgba($color: #fff, $alpha: 0);
            &:hover{
                border-bottom:2px solid rgba($color: #fff, $alpha: 1);
            }
        }
        p{
            font-size:13px;
            line-height: 20px;
            height:63px;
            width:464px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            color:rgba($color: #FFF, $alpha: .6);
            margin-bottom: 12px;
            padding-left:16px;
            border-left:3px solid #515151;
            cursor: pointer;
        }
        .toSee{
            display: block;
            width:160px;
            height:36px;
            padding:0 15px;
            line-height: 36px;
            text-align: left;
            font-size:14px;
            color:#000;
            border-radius: 2px;
            font-weight: bold;
            position: relative;
            margin-bottom: 40px;
            background: transparent linear-gradient(280deg,#ffca28,#ffe082) 0 0 no-repeat padding-box;
            span{
                display: inline-block;
                width:24px;
                height: 24px;
                background-image: url("../images/ico-btn-arrow-r.4b0772f7.png");
                position: absolute;
                top:6px;
                right:15px;
            }
        }
        div{
            height:24px;
            line-height: 24px;
            font-size: 16px;
            color:rgba($color: #fff, $alpha: .8);
            font-weight: bolder;
            margin-bottom: 10px;
            img{
                margin-right:5px;
                vertical-align: middle;
            }
            strong{
                font-size:14px;
                margin-left:10px;
            }
        }
        ul{
            width:fit-content;
            height:90px;
            li{
                width:160px;
                height:90px;
                margin-right:8px;
                float: left;
                a{
                    display: block;
                    width:160px;
                    height:90px;
                    overflow: hidden;
                    &:hover img{
                        transform: scale(1.1);
                    }
                    img{
                        width:160px;
                        height:90px;
                        transition: .3s;
                    }
                }
            }
        }
    }
}